body,ul
{
    margin:0;
    padding:0;
}
.content
{
    margin:0 auto;
    padding: 20px;
    width:500px;
}
input[type="text"]
{
    color: #5f5f5f;
    font-size: 20px;
    height: 3.2rem;
    padding: 0 7px;
}
input[type=submit]
{
    font-size: 20px;
}
ul li{
    list-style: none;
    position: relative;
}
.list ul li
{
    border: 1px solid #ccc;
    margin: 7px 0;
}
li .record-section
{
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #FFFFFF;
    font-family: inherit;
    display: block;
    font-size: 0.875rem;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    transition: all 0.15s linear;
}
li
{
    width:100%;
}
.image64
{
    padding: 0.5rem;
}
.title
{
    color: #EB2D10;
    text-align: center;
    font-weight: bold;
}
.clear
{
    clear:left;
}
.large-4 {
    width: 15%;
}
.large-8 {
    width: 85%;
}
.date
{
    color: #0e2eff;
    font-size: 11px;
    font-weight: bold;
    margin-left: 7px;
    text-align: center;
}

