<!DOCTYPE html>
<html ng-app="Appl">
<head>
    <LINK href="css/foundation.css" rel="stylesheet" type="text/css">
    <LINK href="css/css.css" rel="stylesheet" type="text/css">
    <script data-require="angular.js@1.2.9" data-semver="1.2.9" src="http://code.angularjs.org/1.2.9/angular.js"></script>
    <script src="js/init.js"></script>
    <script src="js/script.js"></script>
    <title>Angular note</title>
</head>
<body>
<div class="content">
    <ul ng-controller="Add">
        <li class="has-form">
            <div class="row collapse">
                <div class="large-8 small-9 columns">
                    <input ng-model="new_record" maxlength="50" type="text" placeholder="Add Message">
                </div>
                <div class="large-4 small-3 columns">
                    <a href="#" class="alert button expand" ng-click="addRecords()">Add</a>
                </div>
            </div>
        </li>
    </ul>
    <section class="list">
        <ul ng-controller="viewManager">
            <li class="has-form" ng-repeat="record in records track by $index">
                <div class="row collapse">
                    <div class="columns">
                        <div class="record-section">
                            <div class="title">Text:</div>
                            <span ng-show="{{record.text !== undefined}}">{{record.text }}</span>
                        </div>
                        <div class="image64"><div class="title">Image:</div>
                            <img ng-show="{{record.base !== undefined}}" src="{{record.base}}">
                        </div>
                        <div class="date">
                            <span ng-show="{{record.humandate !== undefined}}">{{record.humandate}}</span>
                        </div>
                        <input type="hidden" name='timestamp' class='timestamp' ng-show="{{record.date !== undefined}}"  value="{{record.date}}">
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
</body>

</html>